<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arrange.dao.mapper.InvitationMapper">
    <update  id="settle" >
        alter table invitation auto_increment=1;
    </update >
    <select id="getUsers" resultType="user" parameterType="int">
        select * from user where id = (select user_id from invitation where active_id = #{activeId} and state = 11);
    </select>
    <select id="getByActiveIdAndUserId" resultType="invitation">
        select * from invitation where active_id = #{activeId} and user_id = #{userId} order by update_time desc;
    </select>
    <select id="listByUserId" parameterType="int" resultType="invitation">
        select * from invitation where user_id = #{userId} order by update_time desc;
    </select>
    <delete id="removeByActiveId" parameterType="int" >
        delete from invitation where active_id = #{activeId};
    </delete>
    <select id="getByActiveId" parameterType="int" resultType="invitation">
        select * from invitation where active_id = #{activeId};
    </select>
</mapper>