<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript">
        $.get(
            "http://localhost/testCors",
            function (data) {
                alert(data);
            }, false,"json");
        // $.get(
        //     "https://transition.bitworkshop.cn/getOpenId2",
        //     function (data) {
        //         alert(data);
        //     }, false,"json");
    </script>

</head>
<body>
hello!!!test!!!
</body>
</html>